<!DOCTYPE html>
<html>
<head>
    <title>Hello WebSocket</title>
    <script src="//cdnjs.cloudflare.com/ajax/libs/sockjs-client/0.3.4/sockjs.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.11.2.min.js"></script>
    <script type="text/javascript">
        var stompClient = null;


        function connect() {
            var socket = new SockJS('/communication');
            stompClient = Stomp.over(socket);
            stompClient.connect({}, function(frame) {
                console.log('Connected: ' + frame);
                stompClient.subscribe('/user/topic/communication', function(response){
                    console.log(response);
                    response = JSON.parse(response.body);
                    $("#" + response.id).replaceWith(response.data);
                    bindClick();
                });
            });
        }

        function disconnect() {
            stompClient.disconnect();
            console.log("Disconnected");
        }

        function bindClick() {
            $(".component").unbind("click");
            $(".component").click(function() {
                stompClient.send("/app/communication", {}, JSON.stringify({ page: "homePage", "event": { "source": $(this).attr("id"), "type": "click", "data": "" } }));
            });
        }

        $(function() {
            connect();
            bindClick();
        });
    </script>
</head>
<body>
<noscript><h2 style="color: #ff0000">Seems your browser doesn't support Javascript! Websocket relies on Javascript being enabled. Please enable
    Javascript and reload this page!</h2></noscript>
<div>

    $layout
</div>
</body>
</html>